CONFIG_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y
CONFIG_ESPTOOLPY_AFTER_NORESET=y

CONFIG_SPIRAM_MEMTEST=

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-8MiB.csv"

# overrides
CONFIG_DEFAULT_PSRAM_CS_IO=20

# Customizations from issue #40

# not using the cpu settings as we are setting the cpu to max via 
# the standard config.
# CONFIG_ESP32S3_DEFAULT_CPU_FREQ_80=
# CONFIG_ESP32S3_DEFAULT_CPU_FREQ_160=y
# CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=
# CONFIG_ESP32S3_DEFAULT_CPU_FREQ_MHZ=160

# Cache config

CONFIG_ESP32S3_INSTRUCTION_CACHE_16KB=y
CONFIG_ESP32S3_INSTRUCTION_CACHE_32KB=
CONFIG_ESP32S3_INSTRUCTION_CACHE_SIZE=0x4000
CONFIG_ESP32S3_INSTRUCTION_CACHE_4WAYS=
CONFIG_ESP32S3_INSTRUCTION_CACHE_8WAYS=y
CONFIG_ESP32S3_ICACHE_ASSOCIATED_WAYS=8
CONFIG_ESP32S3_INSTRUCTION_CACHE_LINE_16B=
CONFIG_ESP32S3_INSTRUCTION_CACHE_LINE_32B=y
CONFIG_ESP32S3_INSTRUCTION_CACHE_LINE_SIZE=32
CONFIG_ESP32S3_INSTRUCTION_CACHE_WRAP=
CONFIG_ESP32S3_DATA_CACHE_16KB=
CONFIG_ESP32S3_DATA_CACHE_32KB=y
CONFIG_ESP32S3_DATA_CACHE_64KB=
CONFIG_ESP32S3_DATA_CACHE_SIZE=0x8000
CONFIG_ESP32S3_DATA_CACHE_4WAYS=
CONFIG_ESP32S3_DATA_CACHE_8WAYS=y
CONFIG_ESP32S3_DCACHE_ASSOCIATED_WAYS=8
CONFIG_ESP32S3_DATA_CACHE_LINE_16B=
CONFIG_ESP32S3_DATA_CACHE_LINE_32B=y
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=
CONFIG_ESP32S3_DATA_CACHE_LINE_SIZE=32
CONFIG_ESP32S3_DATA_CACHE_WRAP=

# end of Cache config

CONFIG_ESP32S3_SPIRAM_SUPPORT=y

# SPI RAM config

CONFIG_SPIRAM_MODE_QUAD=y
CONFIG_SPIRAM_MODE_OCT=
CONFIG_SPIRAM_TYPE_AUTO=
CONFIG_SPIRAM_TYPE_ESPPSRAM16=
CONFIG_SPIRAM_TYPE_ESPPSRAM32=
CONFIG_SPIRAM_TYPE_ESPPSRAM64=y
CONFIG_SPIRAM_SIZE=8388608

# PSRAM Clock and CS IO for ESP32S3

CONFIG_DEFAULT_PSRAM_CLK_IO=30
CONFIG_DEFAULT_PSRAM_CS_IO=20

# end of PSRAM Clock and CS IO for ESP32S3

CONFIG_SPIRAM_FETCH_INSTRUCTIONS=
CONFIG_SPIRAM_RODATA=
CONFIG_SPIRAM_SPEED_120M=
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_SPEED_40M=
CONFIG_SPIRAM=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_IGNORE_NOTFOUND=y
CONFIG_SPIRAM_USE_MEMMAP=
CONFIG_SPIRAM_USE_CAPS_ALLOC=y
CONFIG_SPIRAM_USE_MALLOC=
CONFIG_SPIRAM_MEMTEST=
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=

# end of SPI RAM config

CONFIG_ESP32S3_TRAX=
CONFIG_ESP32S3_TRACEMEM_RESERVE_DRAM=0x0
CONFIG_ESP32S3_ULP_COPROC_ENABLED=
CONFIG_ESP32S3_ULP_COPROC_RESERVE_MEM=0
CONFIG_ESP32S3_DEBUG_OCDAWARE=y
CONFIG_ESP32S3_DEBUG_STUBS_ENABLE=
CONFIG_ESP32S3_BROWNOUT_DET=y
CONFIG_ESP32S3_BROWNOUT_DET_LVL_SEL_7=y
CONFIG_ESP32S3_BROWNOUT_DET_LVL_SEL_6=
CONFIG_ESP32S3_BROWNOUT_DET_LVL_SEL_5=
CONFIG_ESP32S3_BROWNOUT_DET_LVL_SEL_4=
CONFIG_ESP32S3_BROWNOUT_DET_LVL_SEL_3=
CONFIG_ESP32S3_BROWNOUT_DET_LVL_SEL_2=
CONFIG_ESP32S3_BROWNOUT_DET_LVL_SEL_1=
CONFIG_ESP32S3_BROWNOUT_DET_LVL=7
CONFIG_ESP32S3_TIME_SYSCALL_USE_RTC_FRC1=y
CONFIG_ESP32S3_TIME_SYSCALL_USE_RTC=
CONFIG_ESP32S3_TIME_SYSCALL_USE_FRC1=
CONFIG_ESP32S3_TIME_SYSCALL_USE_NONE=
CONFIG_ESP32S3_RTC_CLK_SRC_INT_RC=y
CONFIG_ESP32S3_RTC_CLK_SRC_EXT_CRYS=
CONFIG_ESP32S3_RTC_CLK_SRC_EXT_OSC=
CONFIG_ESP32S3_RTC_CLK_SRC_INT_8MD256=
CONFIG_ESP32S3_RTC_CLK_CAL_CYCLES=1024
CONFIG_ESP32S3_DEEP_SLEEP_WAKEUP_DELAY=2000
CONFIG_ESP32S3_NO_BLOBS=
CONFIG_ESP32S3_RTCDATA_IN_FAST_MEM=
CONFIG_ESP32S3_USE_FIXED_STATIC_RAM_SIZE=

