[submodule "micropython"]
	path = micropython
	url = https://github.com/mocleiri/micropython.git
	branch = master-i2s
[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/tensorflow/tensorflow.git
	branch = r2.4
