[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython.git
	branch = master
[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/mocleiri/tflite-micro.git
	branch = rename-cc-to-cpp
[submodule "micropython-ulab"]
	path = micropython-ulab
	url = https://github.com/v923z/micropython-ulab.git
	branch = master
