# -- from GENERIC_C3_USB start --

CONFIG_ESP32C3_REV_MIN_3=y
CONFIG_ESP32C3_REV_MIN=3
CONFIG_ESP32C3_BROWNOUT_DET=y
CONFIG_ESP32C3_BROWNOUT_DET_LVL_SEL_7=
CONFIG_ESP32C3_BROWNOUT_DET_LVL_SEL_4=y
CONFIG_ESP32C3_BROWNOUT_DET_LVL=4
CONFIG_ESP_CONSOLE_UART_DEFAULT=
CONFIG_ESP_CONSOLE_USB_CDC=
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

# -- from GENERIC_C3_USB end --

# MICROLITE 4M flash partition adjustment
#CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
#CONFIG_ESPTOOLPY_FLASHFREQ_40M=y
#CONFIG_ESPTOOLPY_FLASHSIZE_2MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
# move back up from micropython/ports/esp32 to the main project source code
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="../../../boards/esp32/MICROLITE_C3_USB/custom-partitions.csv"
