
name: ESP32

# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#onschedule
on:
  push:
  pull_request:
    paths-ignore:
      - 'examples/**'
      - 'README.md'

jobs:
  tensorflow_micropython_esp32_build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Build Tensorflow static library for ESP32
        run: |
          git submodule init
          git submodule update --recursive
          docker run --rm -v `pwd`:/opt/tflite-micro-micropython espressif/idf:release-v4.3 /opt/tflite-micro-micropython/ci/build_tensorflow_esp32.sh
      - name: Prepare to Build Tensorflow Micropython Firmware for ESP32
        run: |
          cd micropython
          git submodule update --init lib/axtls
          git submodule update --init lib/berkeley-db-1.xx
          cd ..
          cp tensorflow/tensorflow/lite/experimental/microfrontend/lib/fft.cc micropython-modules/audio_frontend/fft.cpp
          cp tensorflow/tensorflow/lite/experimental/microfrontend/lib/fft_util.cc micropython-modules/audio_frontend/fft_util.cpp
      - name: Build standard non-psram 4MB Flash firmware
        run: |
          docker run --rm -v `pwd`:/opt/tflite-micro-micropython espressif/idf:release-v4.3 /opt/tflite-micro-micropython/ci/build_micropython_esp32_microlite.sh
      - name: Archive ESP32-MICROLITE firmware
        uses: actions/upload-artifact@v2
        with:
          name: microlite-esp32-firmware
          path: |
            boards/esp32/MICROLITE/build/bootloader/bootloader.bin
            boards/esp32/MICROLITE/build/partition_table/partition-table.bin
            boards/esp32/MICROLITE/build/micropython.bin
      - name: Build with psram support and 16MB Flash firmware
        run: |
          docker run --rm -v `pwd`:/opt/tflite-micro-micropython espressif/idf:release-v4.3 /opt/tflite-micro-micropython/ci/build_micropython_esp32_microlite_spiram_16m.sh      
      - name: Archive ESP32-MICROLITE-SPIRAM-16M firmware
        uses: actions/upload-artifact@v2
        with:
          name: microlite-spiram-16m-esp32-firmware
          path: |
            boards/esp32/MICROLITE_SPIRAM_16M/build/bootloader/bootloader.bin
            boards/esp32/MICROLITE_SPIRAM_16M/build/partition_table/partition-table.bin
            boards/esp32/MICROLITE_SPIRAM_16M/build/micropython.bin
