CONFIG_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_USB_AND_UART=y
# LWIP
# CONFIG_LWIP_LOCAL_HOSTNAME="UMTinyS2"
# end of LWIP
CONFIG_PARTITION_TABLE_CUSTOM=y
# cwd is boards/esp32/MICROLITE_S2_SPIRAM
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="../../../micropython/ports/esp32/partitions.csv"
